/* dark-grey - #1B1919
 * beige - #A68D7B
 * dark blue #486A8B
 * light gray #7A848E
*/

@media {
    img {
        width: 100%;
    }

    body {
        background: #1b1919;
        font-family: "Libre Baskerville", serif;
        color: white;
    }

    #topper {
        background-image: url(Screenshot%202024-04-22%20113159.png);
        background-size: cover;
        background-position: 20% 20%;
        height: 600px;
        padding: 20px 0px 20px 0px;
        margin: 0px;
        position: relative;
    }

    #topcap {
        text-align: center;
        position: absolute;
        bottom: 0;
        color:white;
        background-color: black;
    }

    .credit {
        text-align: left;
    }

    .quote {
        font-size: 65px;
    }

    .pullquote {
        border-left: 3px solid white;
        text-align: center;
        font-style: italic;
        margin: 10px 10px 10px 10px;
    }
    
    .quote {
        font-size: 30px;
        margin: 10px 10px 10px 10px;
        color:#486A8B;
    }
    
    .attribution{
        color:#486A8B;
    }

    .date {
        font-family: "Merriweather", serif;
        text-align: center;
    }

    .authors {
        font-family: "Merriweather", serif;
        text-align: center;
        color: #486a8b;
    }

    #creds {
        text-align: center;
        font-family: "Merriweather", serif;
    }

    h1 {
        padding: 0px 0px 300px 0px;
        color: white;
        margin: 5px 30% 0px 5px;
        font-family: "Merriweather", serif;
    }

    h2 {
        text-align: center;
    }

    .caption {
        font-size: 12px;
        color: #486a8b;
    }


    .credit {
        font-size: 12px;
    }

    .date {
        text-align: center;
    }

    #content {
        text-align: left;
        font-size: 85%;
        width: 100%;
    }
}

@media (min-width: 576px) {
    #content {
        width: 80%;
    }
    h1 {
        margin: 5px 50% 0px 5px;
    }
}

@media (min-width: 992px) {
    #content {
        width: 60%;
    }
}
