/*
 * dark navy = 01161E
 * navy = 124559
 * blue-gray = 598392
 * mint = AEC3B0
 * sand = EFF6E0
*/

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.ovo-regular {
  font-family: "Ovo", serif;
  font-weight: 400;
  font-style: normal;
}


@media{

img {
    width: 75%;
    padding: 10px;
    border-radius: 75%;
}

h1 {
   margin:10px;
    padding: 30px 20px 30px 20px;
    font-size: 70px;
    font-family: "ovo", serif;
    color: #272727;
    text-align:center;
}
    h2{
        font-family:"ovo", serif;
        font-size:40px;
    }

   
    
    #topper{
        background-color: #CBDDD1;
        text-align: center;
        padding: 50px 20px 50px 20px;
    }
    
    button {
    background-color:#124559;
    color:white;
    font-family:"Arvo","sans-serif";
    width:200px;
    padding:20px;
    margin:25px;
    text-transform:uppercase;
    border:none;
    border-radius:7px;
}
    #body{
        font-family: "monsterrat", sans-serif;
        color: #01161E;
        padding: 0px 0px 0px 0px;
    }
    #jobtitle1{
        color: #01161E;
        font-size: 25px;
    }
    #jobtitle2{
        color: #01161E;
        font-size: 25px;
    }
    #jobtitle3{
        color: #01161E;
        font-size: 25px;
    }
    #place1{
        color:#124559;
        font-size:20px;
    }
    #place2{
        color:#124559;
        font-size:20px;
    }
   #place3{
        color:#124559;
        font-size:20px;
    }
    #time1{
        color: #598392;
        font-size:18px;
    }
    #time2{
        color: #598392;
        font-size:18px;
    }
    #time3{
        color: #598392;
        font-size:18px;
    }
    #content{
        font-family: "Montserrat", sans-serif;
        background-color: #CBDDD1;    
         padding: 0px 0px 0px 0px;
    }
    
    #navigation{
        padding:0px 80px 0px 80px;
        text-align:center;
         background-color: #AEC3B0;
                justify-content:center;

    }
    
    #navigation a{
        color:black;
        font-size: 40px;
        font-family: "oso", serif;
        text-decoration: none;
    }
    #education{
        text-align:center;
    }
    
    #edubody{
        text-align:center;
    }
    #edubody2{
        text-align:center;
    }
    #contact{
        font-size: 30px;
        text-align: center;
        font-family:"ovo", serif;
        text-decoration:none;
    }
    #email{
        text-decoration:none;
        text-align:center;
        font-family:"montserrat", sans-serif;
        font-size:20px;
        color:#124559;
    }
    #linkedin{
        text-decoration:none;
        text-align:center;
        font-family:"montserrat", sans-serif;
        font-size:20px;
        color:#124559;
    }
    #twitter{
        text-decoration:none;
        text-align:center;
        font-family:"montserrat", sans-serif;
        font-size:20px;
        color:#124559;
    }
    #github{
        text-decoration:none;
        text-align:center;
        font-family:"montserrat", sans-serif;
        font-size:20px;
        color:#124559;
    }
    #skill1{
       color:#124559;
    }
    #skill2{
       color:#124559;
    }
    #skill3{
       color:#124559;
    }
    #footer{
        background-color: #124559;
        text-align: center;
        font-family: "montserrat", sans-serif;
        color:white;
    }
}

@media (min-width:576px){
    h1{
        margin: 40px 0px 10px 5px;
        font-size: 70px;
    }
}